/*! Copyright 2016-2017 Jairo Llopis <jairo.llopis@tecnativa.com>
 *  License LGPL-3.0 or later (http://www.gnu.org/licenses/lgpl). */
.js_subscribe .form-control {
    width: 50%;
}
.js_subscribe[data-subscribe="on"] .js_subscribe_name:not([disabled]) {
    display: none;
}
