/* Copyright 2019 Alexandre Díaz
   License AGPL-3.0 or later (http://www.gnu.org/licenses/agpl.html). */

.o_Activity_icon.fa.fa-exclamation {
    color: white;
    left: 1.05ch;
    position: relative;
    top: 0.2ch;
}

.o_Activity_iconContainer.bg-danger.rounded-circle {
    width: 3ch;
    height: 3ch;
}
