.o_thread_message_broker_received {
    color: theme-color("info");
}
.o_thread_message_broker_sent {
    color: theme-color("success");
}
.o_thread_message_broker_error {
    color: theme-color("danger");
}
